html *
{
   font-size: large; 
   /* The !important ensures that nothing can override what you've set in this style (unless it is also important). */
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

h1            { text-align: center; font-size: x-large; color:white; }
h2            { text-align: center; font-size:large; color:white; }
th, td        { vertical-align: middle; text-align: center; color:#202020 ;}    
/*#finaltable  * { color: white; background-color: black; }   */

#finaltable table { border-collapse:collapse; } 
#finaltable td { border:5px solid  	#280000; } 
#finaltable table { border:1px solid #480000 ; } 
#finaltable:hover td { background-color: #6699FF ; } 
tr:nth-child(odd)    { background-color:#eee; }
tr:nth-child(even)    { background-color:#00FF66; }
input        { text-align: right;  border: none;  }     /* Align input to the right  */
td textarea  { width: 100%; height: 100%;  }
textarea     { border: 8px outset; border-color: white;       }                        
table        { border: 10px inset; border-color: #505050; width:100% }
table.center { margin-left:auto; margin-right:auto; }
#result      { border-color: red; }
tr.error     { background-color: #F00000; }
body
{
   background-image: linear-gradient(#8b9da9, #fff6e4); 
   box-shadow: inset 0 0 100px hsla(0,0%,0%,.3); 
   min-height: 100%; 
}


.miboton {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:7px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Verdana;
	font-size:21px;
	font-weight:bold;
	font-style:italic;
	height:65px;
	line-height:65px;
	width:125px;
	text-decoration:none;
	text-align:center;
	text-shadow:3px 3px 5px #ffffff;
}
.miboton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.miboton:active {
	position:relative;
	top:1px;
}

.botonlink {
	display: block;
	margin-left: auto; 
	margin-right: auto;
    width:200px;
}
