html *
{
   font-size: large; 
   /* The !important ensures that nothing can override what you've set in this style (unless it is also important). */
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

h1            { text-align: center; font-size: x-large; color:white; }
h2            { text-align: center; font-size:large; color:white; }
th, td        { vertical-align: middle; text-align: center; color:#202020 ;}    
/*#finaltable  * { color: white; background-color: black; }   */

#finaltable table { border-collapse:collapse; } 
#finaltable td { border:5px solid  	#280000; } 
#finaltable table { border:1px solid #480000 ; } 
#finaltable:hover td { background-color: #6699FF ; } 
tr:nth-child(odd)    { background-color:#eee; }
tr:nth-child(even)    { background-color:#00FF66; }
input        { text-align: right;  border: none;  }     /* Align input to the right  */
td textarea  { width: 100%; height: 100%;  }
textarea     { border: 8px outset; border-color: white;       }                        
table        { border: 10px inset; border-color: #300000; width:100% }
table.center { margin-left:auto; margin-right:auto; }
#result      { border-color: red; }
tr.error     { background-color: #F00000; }
body
{
 background-color:#680000  ;  
}

.button {
	-moz-box-shadow:inset 0px 0px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 0px 0px 0px #f5978e;
	box-shadow:inset 0px 0px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f73325), color-stop(1, #8f0e04) );
	background:-moz-linear-gradient( center top, #f73325 5%, #8f0e04 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f73325', endColorstr='#8f0e04');
	background-color:#f73325;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:7px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:21px;
	font-weight:bold;
	font-style:italic;
	height:65px;
	line-height:65px;
	width:125px;
	text-decoration:none;
	text-align:center;
	text-shadow:3px 3px 5px #810e05;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8f0e04), color-stop(1, #f73325) );
	background:-moz-linear-gradient( center top, #8f0e04 5%, #f73325 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f0e04', endColorstr='#f73325');
	background-color:#8f0e04;
}.button:active {
	position:relative;
	top:1px;
}

