html *
{
   font-size: large; 
   /* The !important ensures that nothing can override what you've set in this style (unless it is also important). */
   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

h1            { text-align: center; font-size: x-large; color:white; }
h2            { text-align: center; font-size:large; color:white; }
th, td        { vertical-align: middle; text-align: center; color:#202020 ;}    
/*#finaltable  * { color: white; background-color: black; }   */

#finaltable table { border-collapse:collapse; } 
#finaltable td { border:5px solid  	#280000; } 
#finaltable table { border:1px solid #480000 ; } 
#finaltable:hover td { background-color: #6699FF ; } 
tr:nth-child(odd)    { background-color:#eee; }
tr:nth-child(even)    { background-color:#00FF66; }
input        { text-align: right;  border: none;       }     /* Align input to the right  */
textarea     { border: 8px outset; border-color: white;       }                        
table        { border: 10px inset; border-color: #300000 ; }
table.center { margin-left:auto; margin-right:auto; }
#result      { border-color: red; }
tr.error     { background-color: #F00000 ; }
body
{
 background-color:#680000  ;  
}
